.outside {
    width: 200px;
    height: 200px;
    background-color:rgb(138, 138, 138);
    padding: 20px;
    margin:100px;
}
.inside {
    width: 100px;
    height: 100px;
    background-color:rgb(92, 92, 92);
    margin: 20px;
}
.up {
    width: 100px;
    height: 100px;
    background-color:rgb(92, 92, 92);
    margin-bottom: 20px;
}
.down {
    width: 100px;
    height: 100px;
    background-color:rgb(92, 92, 92);
    margin-top: 20px;
}
.container {
    width: 600px;
    height: 300px;
    background-color:rgb(255, 25, 140);
    display: flex;
    justify-content: space-around;
}
.item {
    width: 100px;
    height: 100px;
    background-color:rgb(46, 231, 255);
}